Flask==2.3.3
Werkzeug==2.3.7
beautifulsoup4==4.12.2
requests==2.31.0
python-dotenv==1.0.0
Flask-Login==0.6.2
pyotp==2.9.0
qrcode==7.4.2
Pillow==10.0.1
publicsuffix2==2.20191221
imghdr2==1.0.0
MarkupSafe==2.1.3
Jinja2==3.1.2
itsdangerous==2.1.2
click==8.1.7
logging==0.4.9.6
